h1
{color: white;
text-align: center;
}
h4
{font-style:italic;}
*
{background-color: rgb(146, 179, 190);
background-image: url("Nairobi3.png");
background-size: cover;
}
p{
  color: white;
}
li{
  color: black;
  text-shadow: coral;
  font-weight: bold;
}
h4
{
width:150px;
border: 10px solid;
border-radius: 20%;
padding: 2%;}
ul
{
order: 3px rgb(85, 37, 37);
    height: 130px;
    width: 180px;
      overflow: auto; 
}
#Top{
  width:"300"; height:"300";
  margin-left: 800px;
}